@font-face {
    font-family: 'Monument';
    src: url('../resources/fonts/MonumentExtended-Regular.otf');
}

h1 {
    text-align: center;
    color: #1ed6d0;
    text-transform: uppercase;
    font-family: Monument;
    font-size: 5vw;
}

@media (min-width: 500vw) {
    #logo {
        display: none;
    }
}

#logo {
    color: #1ed6d0;
    text-align: right;
    font-size: 0.5vw;

    margin-left: auto;
    white-space: pre;
    font-family: monospace;
}

body {
    background-color: #17181E;
}

.navigation {
    display: flex;
    font-family: Monument;
    justify-content: space-between;
    gap: 1vw;
    color:#1ed6d0;
    margin-left: 5vh;
}

.navigation a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    height: 10vh;
    width: 30vw;
    font-size: 1.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-top: 20vh;
    text-transform: uppercase;
}

.navigation a:hover {
    border-radius: 1.5vw;
    box-shadow: 0 0 0 3px #22fae1;
}

.selected  {
    background-color: #30385a;
    border-color: #3d7a73;
    border-radius: 1.5vw;
    height: 10vh;
}

::-webkit-scrollbar {
    width: 1.5vh;
}

::-webkit-scrollbar-track {
    background: #17181E;
}

::-webkit-scrollbar-thumb {
    background-color: #1ed6d0;
    border-radius: 3vw;
    border: 1.5vh solid #1ed6d0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #17a2b8;
}

::-webkit-scrollbar-button {
    background-color: #17181E;
}

.catalog_items {
    display: flex;
    justify-content: center;
    gap: 10vw;
    max-width: 90vw;
    margin: 0 auto;
    font-family: Monument;
    background-color: #252b35;
    padding-left: 5vh;
    height: 70vh;
}

.catalog_items > div {
    flex: 1; 
    min-width: 20vh;
    padding: 2vh;
}

.catalog_items h3 {
    text-align: left;
    color: #1ed6d0;
    margin-bottom: 2vh;
    font-size: 2vw;
}

.catalog_items ul {
    list-style-type: none;
    padding-left: 0;
}

.catalog_items li {
    margin-bottom: 1vh;
    color: #ffffff;
    font-size: 1.5vw;
}

.quote {
    background-color: #595a68;
    border-radius: 1.5vw;
    padding: 2vw;
    box-shadow: 0 2vh 3vw rgba(112, 106, 106, 0.4);
    max-width: 120vh;
    margin: 0 auto;
    margin-bottom: 20vh;
}

.quote h2 {
    font-family: Monument;
    font-size: 3vh;
    color: #e4dcdc;
    margin: 0;
}

.quote_author {
    margin-top: 1vh;
    text-align: right;
    font-style: italic;
}

.quote_author h3 {
    font-family: Monument;
    font-size: 2vh;
    color: #1ed6d0;
    margin: 0; 
}

.footer_info {
    display: flex;
    justify-content: center;
    gap: 10vw;
    max-width: 70vw;
    margin: 0 auto;
    font-family: Monument;
}

.footer_info ul {
    list-style-type: none;
    padding-left: 0;
    height: 5vh;
    padding-bottom: 2vh;
}

.footer_info li {
    margin-bottom: 1vh;
    color:#19908c;
    font-size: 0.7vw;
}

.footer_info #copyright {
    padding-top: 5vh;
    color:#19908c;
    font-size: 0.7vw;
    filter: saturate(0.7);
}

.photo-grid {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    padding: 10px;
    margin-bottom: 10vh;
    overflow: hidden;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.photo-item {
    background-color: #17181E;
    color: #17181E;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
}

.photo-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.photo-item {
    background-color: #17181E;
    color: #1ed6d0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Monument;
}

@media (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .photo-grid {
        grid-template-columns: 1fr;
    }
}

.footer_load_time {
    padding-top: 5vh;
    color:#19908c;
    font-size: 1vw;
    filter: saturate(0.7);
    font-family: Monument;
}

#catalog-items-holder {
    visibility: hidden;
    margin-bottom: 5vh;
}

.cart {
    color: #22fae1;
    font-family: Monument;
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
}

.gif-background {
    background-image: url('https://media.tenor.com/zGekuDkZowYAAAAi/rupert-black.gif');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 40vh;
    margin: 0 auto 10vh;/
}

.main-desc {
    font-family: Monument;
    padding-top: 15vh;
    color: #22fae1;
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 3.5svh;
    margin-bottom: 10vh;
}

.sub-desc-left {
    font-family: Monument;
    color: #22fae1;
    display: flex;
    justify-content: center;
    gap: 5vw;
    align-items: center;
    font-size: 3vh;
    margin-bottom: 10vh;
}

.sub-desc-right {
    font-family: Monument;
    color: #22fae1;
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    margin-bottom: 10vh;
}

.ascii-pic-left {
    justify-content: center;
    
    text-align: center;
    font-size: 1vw;
    white-space: pre;
    font-family: monospace;
}

.ascii-pic-right {
    text-align: center;
    font-size: 1vw;
    white-space: pre;
    font-family: monospace;
}

.review-container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.full-review {
    display: flex;
    align-items: flex-start;
    padding: 3vh;
    border: 0.1vw solid #22fae1;
    border-radius: 1vw;
    background-color: #292b35;
}

.text-review {
    flex: 1;
    font-size: 2.5vh;
    color: #22fae1;
    margin-right: 5vw;
    font-family: Monument;
}

.img-review {
    width: 7vw;
    height: auto;
    border-radius: 1vw;
    object-fit: cover;
}

#reviewForm {
    max-width: 70vw;
    margin: auto;
    padding: 5vh;
    border: 0.1vw solid #22fae1;
    border-radius: 1vw;
    background-color: #292b35;
    display: flex;
    flex-direction: row;
    gap: 3vh;
}

#reviewText {
    width: 55vw;
    height: 10vh;
    border: 0.1vw solid #22fae1;
    background-color: #51597c;
    border-radius: 0.5vw;
    font-size: 1rem;
    color: #22fae1;
    border: none;
}

#reviewForm input[type="file"] {
    border-radius: 0.5vw;
    border: none;
    font-size: 1rem;
    margin-bottom: 2.5vh;
    width: 10vw;
}

.custom-file-upload {
    display: inline-block;
    width: 5vw;
    text-align: center;
    padding: 1.5vh 1vw;
    background-color: #566cb1;
    color: #22fae1;
    font-size: 2vh;
    font-family: Monument;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: #30b5f3;
}

#reviewForm button {
    width: 12vw;
    background-color: #566cb1;
    color: #22fae1;
    font-family: Monument;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reviewForm button:hover {
    background-color: #30b5f3;
}
